// TODO: Follow BEM
// .block {
//   @at-root #{&}__element {
//   }
//   @at-root #{&}--modifier {
//   }
// }

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

$colour-primary-alt: #d90429;
$colour-primary: #ef233c;
$colour-secondary: #2b2d42;
$colour-secondary-alt: #8d99ae;
$colour-tertiary: #edf2f4;

$font-colour-primary: white;
$font-colour-secondary: #22272b;

/* SCSS HEX */
$project-colour-1: #264653ff;
$project-colour-2: #b24c63ff;
$project-colour-3: #5c9ead;
$project-colour-4: #31081fff;
// $project-colour-5: #912f56ff;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 75px;
}
body {
  font-family: "Lato", sans-serif;
  width: 100vw;
  cursor: pointer;
}
.favicon {
  color: white;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

#navbar {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .navbar-toggler {
    display: none;
  }

  #navbar-scrolled-mask {
    position: absolute;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: white;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    transition: width 0.3s ease 0s;
  }
  #logo-wrapper {
    width: 8rem;
  }

  ul {
    min-width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-right: 10px;
    padding-left: 0;
    height: 75px;
    text-transform: uppercase;
  }
  .nav-list {
    li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: background-color 0.5s ease-out;
    }
    a {
      text-decoration: none;
      color: $font-colour-secondary;
      font-size: 1.4rem;
      font-weight: 500;
      padding: 2rem;
      transition: color 0.5s ease-out;
    }
    // a:hover {
    //   color: $font-colour-primary;
    // }
    // li:hover {
    //   background-color: $colour-secondary;
    // }
  }
}
#hero-wrapper {
  background-color: $colour-primary;

  #hero {
    color: $font-colour-secondary;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;

    text-align: left;
    p {
      font-size: 2.5rem;
      font-style: italic;
    }
    #contact-button {
      width: 200px;
      padding: 2rem;
      font-size: 2rem;
    }
  }
}

#about-wrapper {
  background-color: $font-colour-primary;
  margin: 10rem 0 10rem;

  #about {
    .title {
      color: $colour-primary;
    }
    padding-left: 4rem;

    text-align: left;

    .body {
      // text-align: left;
      font-size: 1.4rem;
      line-height: 2.8rem;
    }
    p {
      margin-bottom: 1rem;
      color: $font-colour-secondary;
    }
  }
}

.projects-wrapper {
  background-color: white;
  padding-bottom: 7rem;

  article:nth-of-type(3n + 1) {
    background-color: $project-colour-1;
  }
  article:nth-of-type(3n + 2) {
    background-color: $project-colour-2;
  }
  article:nth-of-type(3n + 3) {
    background-color: $project-colour-3;
  }
  article:nth-of-type(3n + 4) {
    background-color: $project-colour-4;
  }
  .header-container {
    padding-left: 4rem;
  }
  .projects-header {
    padding-top: 3rem;
    text-align: left;
    font-size: 3rem;
    color: $colour-primary;
  }

  .project-container {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    color: $font-colour-primary;
    padding: 2rem;
  }

  .left {
    width: 35%;
    text-align: left;

    .project-title {
      h2 {
        font-size: 4rem;
        font-weight: 900;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }
    }
    .project-desc,
    .project-skills {
      font-size: 1.5rem;
      ul {
        list-style-type: "🔧";
        li {
          padding-left: 0.5rem;
        }
      }
    }
    .cta-button {
      padding: 2rem;
      font-size: 2rem;
    }
  }
  .right {
    width: 65%;

    .project-image {
      padding: 1rem;
      width: 100%;
    }
  }
}

.contacts__wrapper {
  background-color: $font-colour-primary;
  position: relative;
  .contacts {
    display: flex;
    flex-direction: column;

    .contact__header {
      font-size: 5rem;
      text-align: center;
      color: $font-colour-secondary;
      padding: 5rem 0;
    }

    .contact__container {
      display: flex;
      flex-direction: row;
      width: 75vw;
      margin: 0 auto;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 7rem;
    }

    .profile__link {
      color: $font-colour-secondary;
      font-size: 6rem;
      transition: transform 0.5s ease-out;
    }

    .profile__link:hover {
      transform: translateY(10px);
    }
  }
}
.contacts__wrapper:after {
  content: "";
  height: 1rem;
  width: 100%;
  position: absolute;
  bottom: -1rem;
  left: 0px;
  background-color: $colour-primary;
}

@media screen and (max-width: 768px) {
  #navbar {
    .nav-list {
      // display: none; cant animate between display none and 'visible'
      flex-direction: column;
      transform: translateX(100%);
      transition: transform 0.3s ease 0s;
      position: fixed;
      top: 75px;
      left: 0px;
      background-color: white;
      width: 100%;
      height: fit-content;
      li {
        justify-content: left;
      }
    }
    .open {
      display: flex;
    }
    .toggled {
      transform: translateX(0%);
    }
    .navbar-toggler {
      font-size: 5rem;
      display: initial;
    }
  }
  .projects-wrapper {
    .project-container {
      padding: 4rem;
    }
    .left {
      width: 100%;
      margin-bottom: 2rem;

      .project-title {
        h2 {
          font-size: 3rem;
        }
      }
    }
    .right {
      width: 100%;
      .project-image {
        width: 75%;
      }
    }
  }
  .contacts__wrapper {
    .contacts {
      .contact__header {
        font-size: 3rem;
      }
      .profile__link {
        font-size: 4rem;
      }
    }
  }
}
